@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
    --color-accent: #2D6A4F;
    --color-accent-light: #E8F5EE;
    --color-accent-border: #A8D8BC;
}