@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
    --color-accent: #004FFF;
    --color-accent-light: #D8E4FF;
    --color-accent-border: #FF007F;
}